body {size: 100px;
}
body {color: blue;
}
img {width: 350px;
height: 300px;
}
body {
  background-color: yellow;
}
body {
  font: italic;
}
h1 {color: red;
}
h3 {color: red;
}
 body {
    font-family: "Helvetica Neue";
    text-align: center;
   }
   
   h1 {
    color: darkBlue;
   }
   h1 {
     border: solid 10px blue;
   }
   h3 {
     size: 500px;
   }
   h3 {size: 200px;